<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">

 

  <title>Title page</title>  

<link href="./main.a3f694c0.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="content" id="overlay">
  <script src="p5.js"></script>
  <script src="p5.sound.min.js"></script>
  <script src="sketch.js"></script>
</div>
</head>

<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>

<style>
  .button {
    border: 2px solid #008CBA;
    margin: 25px 2px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #008CBA;
    color: white;
    display: inline-block;
    margin: 9px 2px;
    transition-duration: 0.4s;
    padding: 18px 32px;
  }


  body {
    margin: 0;
  }
  img {
    width: 100%;
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
  }
  @media (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .img_button {
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
  }
  .img_button:hover {
    background-color: #008CBA;
    display: inline-block;
    transition-duration: 0.4s;
    background-color: RoyalBlue;
  }

</style>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./assets/images/mashuptemplate.svg" class="navbar-logo-img" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html" title="" class="active">Home</a></li>
            <li><a href="./about.html" title=""> About</a></li>
            <li><a href="./contact.html" title="">Contact</a></li>
            <li><button  class='button' onclick="window.location.href='./canvas.html';">Try the Canvas!</button></li>
            <li><button class='button' onclick="window.location.href='<%= login_link %>';"
                ><%= login_text %></button></li>
        </ul>
    </div>
    </div>
  </nav>
</header>


<div class="col-md-6">
  <h1><%= title %></h1>
    <p id ="problemPar"><%= problem %></p>
    <input id="inputProblem" type="text" name="problem" onKeyUp="return setInfoTimer()" />
    <p id ="imgPar">Image</p>
    <input id="inputImg" type="text" name="img" onKeyUp="return setImgTimer()" />
    <p id ="gifPar">Gif</p>
    <input id="inputGif" type="text" name="gif" onKeyUp="return setGifTimer()" />
  </div>
<hr/>

<div class="grid" id="grid">
  <div class="loader" id="loader" style="visibility: hidden;"></div>
  <div id="img1" class="image"><button class="img_button"></div>
  <div id="img2" class="image"><button class="img_button"></div>
  <div id="img3" class="image"><button class="img_button"></div>
  <div id="img4" class="image"><button class="img_button"></div>
  <div id="img5" class="image"><button class="img_button"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script>

  // url Async requesting function
  function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            callback(xmlHttp.responseText);
        }
    }

    xmlHttp.open("GET", theUrl, true);
    xmlHttp.send(null);
    return;
  }

  // callback for the top GIFs of search
  function tenorCallback_search(responsetext) {
    var response_objects = JSON.parse(responsetext);

    top_gifs = response_objects["results"];
    for(i=0; i<top_gifs.length; i++) {
      document.getElementById('img'+(i+1)).getElementsByTagName('button')[0]
            .style.backgroundImage = "url("+top_gifs[i]["media"][0]["nanogif"]["url"]+")";
    }

    document.getElementById('loader').style.visibility = "hidden";
    return;
  }

  var gifTimer;
  function setGifTimer() {
    if(gifTimer != null) {
      clearTimeout(gifTimer);
    }
    gifTimer = setTimeout(grab_gifs,2000);
  }

  // function to call the trending and category endpoints
  var last_gif = '@!&null&!@';
  function grab_gifs() {
    document.getElementById('loader').style.visibility = "visible";
    var search_term = document.getElementById("inputGif").value;
    if(search_term == last_gif) {
      return;
    }
    last_gif = search_term;

    if(!search_term) {
      search_term = '';
    }

    var apikey = "QCI6O3ZZHMW5";
    var lmt = 5;

    var search_url = "https://api.tenor.com/v1/search?q=" + search_term + "&key=" +
            apikey + "&limit=" + lmt;

    httpGetAsync(search_url, tenorCallback_search);

    // data will be loaded by each call's callback
    return;
  }


  var imgTimer;
  function setImgTimer() {
    if(imgTimer != null) {
      clearTimeout(imgTimer);
    }
    imgTimer = setTimeout(grab_pics,2000);
  }

  var last_pic = '@!&null&!@';
  function grab_pics() {
    document.getElementById('loader').style.visibility = "visible";
    var search_term = document.getElementById("inputImg").value;
    if(search_term == last_pic) {
      return;
    }
    last_pic = search_term;

    if(!search_term) {
      search_term = '';
    }
    
    $.getJSON('https://api.unsplash.com/search/photos?query='+search_term+'&per_page=10&client_id=LLxk_QhznsOac6ltGXajK5rCPUR-OX-kmzH-78kd9wM', function(data) {      
      var imageList = data.results;

      console.log(data.results);
      var j=0;
      $.each(imageList, function(i, val) {
        
        var image = val;
        var imageURL = val.urls.small;
        var imageWidth = val.width;
        var imageHeight = val.height;
        
        if (imageWidth > imageHeight && j < 5) {
          document.getElementById('img'+(j+1)).getElementsByTagName('button')[0]
            .style.backgroundImage = "url("+imageURL+")";
          j++;
        }   
      }); 

      document.getElementById('loader').style.visibility = "hidden";
    });
  }

  var infoTimer;
  function setInfoTimer() {
    if(infoTimer != null) {
      clearTimeout(infoTimer);
    }
    infoTimer = setTimeout(updateInfo,2000);
  }

  var last_problem = '@!&null&!@';
  function updateInfo() {
    document.getElementById('loader').style.visibility = "visible";
    var problem = document.getElementById("inputProblem").value;
    if(problem == last_problem) {
      return;
    }
    last_problem = problem;

    if(!problem) {
      problem = '';
    }

    var userData = {'problem': problem};
    $.ajax({
      url: '/canvas_data',
      type: 'POST',
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(userData),
      success: function(data){
        var probs = JSON.stringify(data);
        probs = JSON.parse(probs);
        probs = probs['problem'];
        document.getElementById("problemPar").innerHTML  = probs;
        document.getElementById('loader').style.visibility = "hidden";
      }
    });
  }

</script>

<script type="text/javascript" src="./main.41beeca9.js"></script>

</body>

</html>