.canvas {
	width:75vw;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    position: relative;
}

.canvas__top {
    width:75vw;
    height: 20vh;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.canvas__middle {
    height: 50vh;
	width:75vw;
    display: flex;
    flex-direction: row;
}

.canvas__bottom {
    height: 20vh;
	width:75vw;
    display: flex;
    flex-direction: row;
}

.minor {
    width: 90%;
}

.block__middle {
    width: 25vw;
    height: 20vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.col__long {
    width: 15vw;
    height: 50vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.col__short {
    width: 15vw;
    height: 25vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.col__short__short {
    width: 15vw;
    height: 20vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.row__short {
    width: 30vw;
    height: 20vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.row__long {
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    border-style: solid;
    box-sizing: border-box;
}

.handle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1.75vh;
    font-size: 1.25vh;
    color: lightgray;
    border-radius: 25px;
}

.handle:hover {
    background-color: lightgray;
    cursor: grab;
    z-index: 0;
}

.handle:active {
    cursor: grabbing;
    background-color: lightslategrey;
    color: lightslategray;
}

.loader {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.img__handle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1.75vh;
    width: 10vw;
    font-size: 1.25vh;
    color: lightgray;
    border-radius: 25px;
}

.img__handle:hover {
    background-color: lightgray;
    cursor: grab;
}

.img__handle:active {
    cursor: grabbing;
    background-color: lightslategrey;
    color: lightslategray;
}

.image {
    width: 10vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img__button {
    width: 10vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.4s;
    background-image: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NjQ3NX0");
}

.img__button:hover {
    cursor: pointer;
}

body {
    margin: 0;
  }
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}
@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}